#rgb{
    background-color:rgb(255, 0, 0);
    text-align: center;
    border:1px, solid black;
    padding: 15px;
   
    margin: 3px;
}
li{
   
    list-style: none;
    float: left;
}

body{
    text-align: center;
}