ul{

    color: aliceblue;
    list-style-type: none;
    float: right;
    margin-top: 0%;

}
ul li{
    border: 1px solid black;
    padding: 10px
}
li{
    float: left;
    background-color:black;
   }
body{
    background-color: aquamarine;
}